body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.datepicker {
	padding: 15px;
	border-radius: 0px;
	direction: ltr;
	line-height: 2;
}

.stacked-buttons {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    line-height: 0;
}

.spinbox-button {
	height: 15px;
	color: white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}

.prevMonth, .nextMonth {
	color: white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}

.datepicker.dropdown-menu {
	position: absolute;
	z-index: 1000;
	float: left;
	min-width: 160px;
	list-style: none;
	background-color: #ffffff;
	border: none;

	-webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.125));
	-moz-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.125));
	-ms-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.125));
	-o-filter: drop-shadow(0px px 5px rgba(0,0,0,0.125));
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.125));
	-webkit-transform: translateZ(0); /* fixes blurriness on retina displays in webkit */

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

.datepicker td {
	width: 35px;
	text-align: center;
}

.datepicker th {
	text-align: center;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	background: #eeeeee;
	cursor: pointer;
}

.datepicker.dropdown-menu:after {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}